# ไม่เก็บ dependencies
node_modules/

# ไม่เก็บไฟล์ build
.next/
.dist/

# ไม่เก็บไฟล์ความลับ
.env
.env.local
next-env.d.ts

# ไม่เก็บ log
npm-debug.log*
yarn-debug.log*

# ไม่เก็บ config ของ editor
.vscode/
.idea/

# ไม่เก็บไฟล์ระบบของ macOS / Windows
.DS_Store
Thumbs.db
